html {
  height: 100vh;
  overflow-y: scroll;

  &.no-scroll {
    overflow-y: hidden; /* STOP MOVING AROUND! */
  }
}

body {
  overflow-y: hidden;

  &.no-scroll {
    overflow-y: scroll;
  }

  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;

  font-family: var(--main-font), sans-serif;
  font-size: 1rem;
  color: var(--color-primary);
}
