.container {
  @include paddings($pr: $padding, $pl: $padding);
  @include margins($mr: auto, $ml: auto);

  @include mq($mobile, $tablet) {
    max-width: map-get($breakpoints, $mobile);
    // outline: green 1px solid;
  }

  @include mq($tablet, $desktop) {
    max-width: map-get($breakpoints, $tablet);
    // outline: yellow 1px solid;
  }

  @include mq($desktop) {
    max-width: map-get($breakpoints, $desktop);
    // outline: red 1px solid;
  }
}
