.is-hidden {
  display: none;
}

.visually-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0.01;
}

.hidden-on-mobile {
  @include mq($end: $tablet) {
    display: none;
  }
}

.hidden-from-tablet {
  @include mq($tablet) {
    display: none;
  }
}
