:root {
  --main-font: 'Ogg-Roman';
  --secondary-font: 'TradeGothicLTStd Extended';
  --secondary-font-bold: 'TradeGothicLTStd BoldExt';

  --color-primary: #000000;
  --color-footer-bg: #f2f2f2;
  --color-dark-blue: #1b2b48; // star
  --color-orange: #fc8750; // square / circle,  5edges
  --color-star: #fb8547;
  --color-yellow: #f2cf26; //  square / circle
  --color-pink: #f4bab5; // circle, triangle
  --color-haki: #82a08b; // rod,
  --color-live-indicator: #b3f695;
}

$padding: 15px;
