<header class="header">
  <div class="safety-message-wrapper">
    <div class="container">
      <p class="safety-message">
        <a class="safety-message__link link" href="#">
          COVID-19: Learn what we’re doing to keep the community and our staff
          safe.
        </a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="top-row">
      <button
        class="nav-btn mobile-btn burger-btn"
        type="button"
        aria-controls="mobile-menu-id"
        aria-expanded="false"
        aria-label="Open menu button"
        mobile-menu-open
      >
        <svg class="burger-btn__svg" aria-hidden="true" width="30" height="22">
          <use href="./images/svg/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <ul class="top-row__list">
        <li class="top-row__item">
          <button
            class="nav-btn header__btn"
            aria-label="Search button"
            type="button"
          >
            <svg
              class="nav-btn__svg search-icon"
              aria-hidden="true"
              width="27"
              height="27"
            >
              <use href="./images/svg/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </li>

        <li class="top-row__item">
          <button
            class="nav-btn header__btn"
            aria-label="Shop cart button"
            type="button"
          >
            <svg
              class="nav-btn__svg shopbag-icon"
              aria-hidden="true"
              width="19"
              height="24"
            >
              <use href="./images/svg/sprite.svg#icon-shopbag"></use>
            </svg>
          </button>
        </li>

        <li class="top-row__item">
          <button
            class="nav-btn header__btn"
            aria-label="Like button"
            type="button"
          >
            <svg
              class="nav-btn__svg heart-icon"
              aria-hidden="true"
              width="23"
              height="17"
            >
              <use href="./images/svg/sprite.svg#icon-black-heart"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div class="logo-thumb header__logo-thumb">
      <svg
        class="logo header__logo"
        aria-label="Showfields logo - three storey building with high windows"
        width="67"
        height="82"
      >
        <use href="./images/svg/sprite.svg#icon-logo"></use>
      </svg>
    </div>

    <div class="tagline-thumb">
      <picture>
        <source
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 286px, 100vw"
          type="image/png"
          srcset="
            ./images/photos/header/desktop/tagline-desktop-286.png    286w,
            ./images/photos/header/desktop/tagline-desktop-572@2x.png 572w
          "
        />

        <source
          media="(max-width: 767px)"
          sizes="(max-width: 767px) 181px, 100vw"
          type="image/png"
          srcset="
            ./images/photos/header/mobile/tagline-mobile-181.png    181w,
            ./images/photos/header/mobile/tagline-mobile-362@2x.png 362w
          "
        />

        <img
          class="tagline__image"
          type="image/png"
          src="./images/photos/header/mobile/tagline-mobile-181.png"
          alt="The MOST INTERESTING STORE In The World"
        />
      </picture>
    </div>

    <nav class="nav backdrop visually-hidden" id="mobile-menu-id" mobile-menu>
      <button
        class="nav-btn mobile-btn close-btn"
        type="button"
        mobile-menu-close
        aria-label="Close menu button"
      >
        <svg
          class="nav-btn__svg close-icon"
          aria-hidden="true"
          width="30"
          height="22"
        >
          <use href="./images/svg/sprite.svg#icon-plus"></use>
        </svg>
      </button>

      <div class="mobile-menu__container">
        <div class="logo-thumb hidden-from-tablet">
          <svg
            class="logo logo-thumb__mobile"
            aria-label="Showfields logo - three storey building with high windows"
            width="42"
            height="52"
          >
            <use href="./images/svg/sprite.svg#icon-logo"></use>
          </svg>
        </div>

        <ul class="menu nav__menu nav__menu-mobile">
          <li class="menu__item">
            <a class="menu__link" href="#">WHAT’S NEW</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">BRANDS</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">CURATIONS</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">ART</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">BEAUTY</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">SELF CARE</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">STYLE</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">LIFESTYLE</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">TECH</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">STORIES</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
