<section class="section hero">
  <div class="container hero__container">
    <h1 class="text-block section__title hero__title title-v1">
      <span class="text-inline-block section__title-text">Live Curations</span>
    </h1>

    <p class="text-block hero__description">
      <span class="text-inline-block hero__description-text"
        >Our weekly live curations are one-of-a-kind live shopping events hosted
        by tastemakers from around the globe.

        <span class="hero__description-text-mobile is-hidden">
          We invite you to their worlds to give you an interactive and
          informative shopping experience.
        </span>

        These curations feature hand-picked products and art from the most
        interesting misson-driven, design-oriented, innovative brands and
        artists in our community.</span
      >
    </p>
  </div>
</section>
