<section class="section live-curation">
  <div class="container">
    <ul class="live-curation__list">
      <li class="live-curation__item">
        <div class="live-curation__thumb-wrapper">
          <div class="live-curation__thumb">
            <img
              class="live-curation__image"
              src="./images/photos/live-curation/live-curation-photo.jpg"
              alt="Maristella González - sensual woman with half-closed eyes and mouth showing her unprotected neck on the sun"
            />
          </div>

          <button class="live-status-btn">
            <span class="live-status__indicator"></span>
            <span class="live-status">LIVE RECORDING</span>
          </button>
        </div>

        <div class="meta-wrapper live-curation__meta-wrapper">
          <h3 class="text-block section__title-v3">
            <span class="text-inline-block">A LIVE CURATION WITH</span>
          </h3>

          <h2 class="text-block section__title-v2">
            <span class="text-inline-block">Maristella González</span>
          </h2>

          <p class="text-block live-curation__description">
            <span class="text-inline-block live-curation__description-text">
              Enter the wonderous world of Showfields. Our mission is to create
              a better way for customers to discover, engage and shop emerging
              brands and artists of tomorrow.</span
            >
          </p>

          <button class="btn btn--primary" type="button">RSVP</button>

          <ul class="live-curation__slide-indicator-list">
            <li class="live-curation__slide-indicator-item current">
              <button
                class="btn indicator-btn"
                type="button"
                aria-label="Slide 1"
              ></button>
            </li>
            <li class="live-curation__slide-indicator-item">
              <button
                class="indicator-btn"
                type="button"
                aria-label="Slide 2"
              ></button>
            </li>
            <li class="live-curation__slide-indicator-item">
              <button
                class="btn indicator-btn"
                type="button"
                aria-label="Slide 3"
              ></button>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
