.backdrop {
  @include mq($end: $tablet) {
    contain: content;
    position: fixed;
    inset: 0;

    padding: 0 100px 0 0;

    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.8);

    @include transition;
    transition-property: opacity, visibility;
  }

  &.visually-hidden {
    overflow: hidden;

    @include mq($tablet) {
      pointer-events: initial;
      visibility: visible;
      opacity: 1;
    }
  }
}

.mobile-menu__container {
  @include mq($end: $tablet) {
    contain: content;

    position: relative;
    top: 0;
    left: -70vw;

    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    height: 100vh;

    padding: 21px;

    background-color: var(--color-footer-bg);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: var(--time) var(--cubic) 190ms transform;
    transform: translateX(70vw);

    .backdrop.visually-hidden & {
      transition: var(--time) var(--cubic) transform;
      transform: translateX(0);
    }
  }
}
