.btn {
  @include transition;
  transition-property: color, box-shadow;

  &:focus,
  &:hover {
    color: var(--color-accent);
    box-shadow: 0.3rem 0.3rem 1rem rgba(#212121, 0.3);
  }
}

.indicator-btn {
  @include transition;
  transition-property: transform, background-color, border-color;

  &:focus,
  &:hover {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    transform: scale(1.5);
  }
}
