.btn--primary {
  min-width: 190px;
  min-height: 30px;
  padding: 6px 21px;

  font-family: var(--secondary-font-bold);
  @include font(16px, 700, 20px);

  color: #ffffff;

  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);

  @include mq($tablet) {
    min-width: 195px;

    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background-color: transparent;
  }
}
