.mobile-btn {
  contain: content;
}

.burger-btn {
  position: relative;
  left: -4px;
}

.burger-btn,
.close-btn {
  @include mq($tablet) {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 4px;

  width: 48px;
  height: 48px;

  left: 70vw;

  color: rgba(#ffffff, 0.8);

  .backdrop.visually-hidden & {
    pointer-events: none;
    visibility: hidden;
    opacity: 0.01;
  }
}

.close-icon {
  width: 24px;
  height: 24px;
  transform: rotateZ(45deg);
}

.burger-btn__svg {
  width: 29px;
  height: 22px;

  @include mq($tablet) {
    width: 30px;
    height: 22px;
  }
}
