.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27px;
  height: 27px;

  border-radius: 4px;

  @include transition;
  transition-property: color;

  &:focus,
  &:hover {
    color: var(--color-accent);
  }
}

.nav-btn__svg {
  @extend %svg;
}
