.header {
  position: relative;

  padding-bottom: 32px;
  @include mq($tablet, $pb: 42px);
}

.safety-message-wrapper {
  background-color: var(--color-footer-bg);

  // @include mq($end: $tablet);
  @include mq($tablet);
}

.safety-message {
  font-family: var(--secondary-font);

  text-align: center;

  padding: 10px 60px 5px;

  @include mq($end: $tablet) {
    @include font(7.4px, $lh: 12px);
  }

  @include mq($tablet) {
    @include font(12px, $lh: 14px);
  }
}

.top-row {
  display: flex;

  @include mq($end: $tablet);
  @include mq($tablet);
}

.top-row__list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.top-row__item {
  $tow-row__item-margins: (1, 3);
  @include margin-right($tow-row__item-margins);
}

.tagline-thumb {
  @include mq($tablet, $mb: 20px);
}

.nav__menu-mobile {
  @include mq($end: $tablet, $pt: 20px);
}

.menu {
  @extend %list;
  display: flex;

  @include mq($end: $tablet) {
    flex-direction: column;
    align-items: center;
  }

  @include mq($tablet) {
    flex-wrap: wrap;
    // justify-content: space-between;
  }

  @include mq($end: $desktop) {
    gap: 12px;
  }

  @include mq($desktop, $pr: (57px - $padding), $pl: (73px - $padding));
}

.menu__item {
  @include mq($tablet, $desktop, $mr: 0);

  @include mq($desktop) {
    // $menu-margins: (39, 35, 35, 36, 35, 44, 47, 40, 37);
    $menu-margins: (30, 25, 27, 30, 23, 33, 34, 31, 28);
    @include margin-right($menu-margins);
  }
}

.menu__link {
  font-family: var(--secondary-font-bold);
  @include font(11px, 700, 13px);

  text-align: center;
  text-transform: uppercase;
}
