.hero-bg {
  height: 240px;
  // Путь к изображениям из SASS-файла всегда такой, как из папки css
  // background-image: url('../images/demo.jpg');
  background-size: cover;
  background-position: center;
}
