.live-curation {
  contain: content;
  background: var(--color-pink);

  padding-bottom: 17px;
}

.live-curation__list {
  display: flex;
  margin-bottom: 29px;
  @include mq($tablet, $mb: 65px);
}

.live-curation__item {
  position: relative;
  left: 200%;
  top: 0;
  flex-basis: 100%;

  pointer-events: none;
  visibility: hidden;
  opacity: 0.01;

  @include transition;
  transition-property: transform;

  &.current {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;

    transform: translateX(-200%);
  }
}

.live-curation__slide {
  // @include mq($tablet) {
  // }
}

.live-curation__thumb-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq($tablet, $pt: 78px, $pl: (42px - $padding)) {
    position: absolute;

    flex-basis: 32%;
    order: 1;
  }
}

.speaker {
  @include mq($end: $tablet, $mb: 20px);

  @include mq($tablet) {
    display: flex;
  }
}

.slide-description-wrapper {
  display: flex;
  justify-content: flex-end;
}

.live-curation__meta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq($tablet) {
    flex-basis: 60.9%;
  }
}

.live-curation__thumb {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 175.3px;
  height: 175.25px;

  margin-bottom: 16px;

  @include mq($tablet, $mb: 24px) {
    width: 320.79px;
    height: 320.71px;
  }

  background: center/contain no-repeat
    url('../images/photos/live-curation/live-curation-circle.png');

  @include bg-retina(
    '../images/photos/live-curation/live-curation-circle@2x.png'
  );
}

.live-curation__image {
  position: relative;
  top: 2px;
  left: -1px;

  border-radius: 50%;

  width: 118px;
  height: 118px;

  @include mq($tablet) {
    width: 215px;
    height: 216px;
  }
}

.live-status-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  padding: 4px 9px 4px 12px;

  font-family: var(--secondary-font-bold); // Montserrat
  @include font(16px, 700, 20px);
  color: var(--color-primary);

  border: 1px solid var(--color-primary);
  border-radius: 8px;

  @include mq($tablet) {
    gap: 6px;

    @include font(11px, 700, 13px);
  }
}

.live-status {
  &__indicator {
    display: block;
    min-width: 9px;
    min-height: 9px;

    background: var(--color-live-indicator);
    border-radius: 50%;
  }
}

.live-curation__titles-wrapper {
  @include mq($end: $tablet, $pt: 42px, $mb: 20px);

  @include mq($tablet, $pt: 117px, $mb: 25px, $ml: auto) {
    justify-self: flex-end;
    flex-basis: 60.9%;
    order: 2;
  }
}

.live-curation__title {
  margin-bottom: 16px;

  font-family: var(--secondary-font-bold);
  @include font(16px, 700, 16px);

  @include mq($tablet, $mb: 35px) {
    @include font(20px, 700, 20px);
  }
}

/* Maristella González */
.live-curation__speaker-name {
  @include font(25px, 400, 25px);

  @include mq($tablet) {
    @include font(61px, 400, 63px);
  }
}

.live-curation__description {
  max-width: 396px;
  margin-bottom: 24px;

  font-family: var(--secondary-font); // It is caslon, not Questrial.
  @include font(16px, $lh: 20px);

  @include mq($tablet, $mb: 30px) {
    @include font(16px, $lh: 27px);
  }

  &-text {
    padding: 0 28px;
  }
}

.slide-indicator-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

// .live-curation__slide-indicator-list {}
// .live-curation__slide-indicator-item { }

.indicator-btn {
  display: block;

  width: 9px;
  height: 9px;
  border: 1px solid var(--color-primary);

  border-radius: 50%;

  .live-curation__slide-indicator-item.current & {
    background-color: var(--color-primary);
  }
}
