.live-curation {
  contain: content;
  background: var(--color-pink);

  padding-bottom: 17px;
}

// .live-curation__item { }

.live-curation__slide {
  @include mq($end: $tablet) {
    position: relative;
  }

  @include mq($tablet, $mb: 45px) {
    display: flex;
    justify-content: space-between;
  }
}

.live-curation__thumb-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 57px;

  @include mq($end: $tablet, $mb: 16px);
  @include mq($tablet, $ml: (30px - $padding)) {
    flex-basis: 30%;
  }
}

.live-curation__meta-wrapper {
  @include mq($tablet, $pr: 21px) {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    align-items: center;
  }
}

.live-curation__thumb {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 365px;
  height: 365px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 451.11px;
    height: 451.12px;

    transform: translate(-50%, -50%);

    pointer-events: none;

    background-image: url(../images/photos/live-curation/live-curation-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.live-curation__image {
  position: relative;
  top: 2px;
  left: -14px;

  width: 215px;
  height: 215px;
  border-radius: 50%;
}

.live-status-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  min-width: 156px;
  min-height: 22px;
  padding: 0 10px;

  font-family: var(--secondary-font-bold); // Montserrat
  @include font(11px, 700, 13px);
  color: var(--color-primary);

  border: 1px solid var(--color-primary);
  border-radius: 8px;
}

.live-status {
  &__indicator {
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px 0 6px 0;

    background: var(--color-live-indicator);
    border-radius: 50%;
  }
}

.live-curation__titles-wrapper {
  @include mq($end: $tablet, $pt: 50px) {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include mq($tablet, $pt: 109px);
}

.live-curation__title {
  margin-bottom: 20px;
}

/* Maristella González */
.live-curation__speaker-name {
  margin-bottom: 25px;

  @include font(25px, 400, 63px); // ogg // Libre Caslon Display;

  @include mq($tablet) {
    @include font(61px, 400, 63px);
  }
}

.live-curation__description {
  max-width: 400px;
  margin-bottom: 21px;

  font-family: var(--secondary-font); // Questrial  -  actualy is not

  @include font(16px, $lh: 27px);
  @include mq($tablet, $mb: 30px);
}

.slide-indicator-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

// .live-curation__slide-indicator-list {}
// .live-curation__slide-indicator-item { }

.indicator-btn {
  display: block;

  width: 9px;
  height: 9px;
  border: 1px solid var(--color-primary);

  border-radius: 50%;

  .live-curation__slide-indicator-item.current & {
    background-color: var(--color-primary);
  }
}
